.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}