@import "../constants.css";

.plus-button {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: black;
  color: whitesmoke;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 15pt;
  cursor: pointer;
  border:none;
}
.plus {
    display:inline-block;
    width:25px;
    height:25px;
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #000;
    background-position:center;
    background-size: 40% 4%,4% 40%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }
  

.plus-button:hover {
  background-color: #2f2f2f;
}