:root {
    --tile-size: 50px;
}

.files {
    color : #769954;
    height: calc(.25*var(--tile-size));
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    margin-top: 5px;
}