.analysis-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.chessboard-container {
  border: 6px solid #353434;
  border-radius: 8px;
  height: 100%;
  margin: 0 0 0 0;
}

.analysis-text-container {
  flex-basis: 50%;
  padding: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-y: auto;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
}

.analysis-right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.analysis-page-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.analysis-button-container {
  display: flex;
  gap: 10px;
}

.analysis-back {
  width: 50%;
  height: 112px;
  padding: 20px;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
  cursor: pointer;
}

.analysis-move {
  width: 50%;
  height: 112px;
  padding: 20px;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
  cursor: pointer;
}

.analysis-explanation-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.explanation-selector-container {
  padding: 20px;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.analysis-select {
  color: black;
  width: 200px;
}

.explanation-container {
  padding: 20px;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
  max-height: 411.5px;
  overflow-y: scroll;
}