.analysis-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.chessboard-container {
  border: 6px solid #353434;
  border-radius: 8px;
  height: 100%;
}

.analysis-text-container {
  flex-basis: 50%;
  padding: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-y: auto;
  border: 3px solid #353434;
  border-radius: 8px;
  background-color: #353434;
}

.analysis-right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}