@import '../constants.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

.Game {
  display: grid;
  place-content: center;
  place-items: center;
  width: 100vh;
  height: 100vh;
  background: var(--bg-color);
  font-family: 'Sofia Sans', sans-serif;
  grid-template-columns: auto 15vw;

}
