.play-page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; 
  width: 75%;
  margin-top: 35px;
  gap: 30px;
}

.chessboard-container {
  flex: 0 0 45%;
  margin-left: 15%;
  border: 6px solid #353434;
  border-radius: 8px;
  margin-right: 3%;
}