.team-container {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
}

.groupmate-card {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
    margin: 1rem;
}

.groupmate-card img {
    width: 100%;
    height: auto;
    border: 6px solid #353434;
    border-radius: 5px;  
}


.groupmate-card .github {
    margin-top: 0.3rem;
    width: 20px;
    height: 20px;
}

.team-description {
    margin-top: 3.5rem;
    text-align: center;
}

