.team-container {
    display: flex;
    overflow: hidden;
}

.groupmate-card {
    flex: 0 0 auto;
    width: 15%;
    margin-right: 2rem;
}

.groupmate-card img {
    width: 100%;
    height: auto;
}

.groupmate-card .description {
    margin-top: 1rem;
}

.groupmate-img {
    width: 100px;
    height: 100px;
}
