@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic', sans-serif;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222222;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #ffc703;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #ffc703;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ffc703;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffc703;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffc703;
  font-weight: 500;
  margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
  background: #ffc703;
  color: #222222;
}

.wrapper {
  position: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* login header */
.form-box h2 {
  font-size: 2em;
  color: #ffc703;
  text-align: center;
}
  
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffc703;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffc703;
  font-weight: 500;
  pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffc703;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1em;
  color: #ffc703;
  line-height: 57px;
}